{
    "openapi": "3.1.0",
    "info": {
      "title": "AI Diagram Maker API",
      "version": "2.0.0",
      "description": "Generate D2 diagrams from natural language, ASCII art, JSON, or images. Designed for use with MCP servers and direct API integrations.",
      "contact": {
        "url": "https://aidiagrammaker.com"
      }
    },
    "servers": [
      {
        "url": "https://aidiagrammaker.com",
        "description": "Production"
      },
      {
        "url": "http://localhost:3000",
        "description": "Local development"
      }
    ],
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "description": "API key obtained from your account dashboard. Pass as `Authorization: Bearer <api_key>`."
        }
      },
      "schemas": {
        "ErrorResponse": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "enum": [
                false
              ],
              "example": false
            },
            "error": {
              "type": "string",
              "example": "Invalid request"
            },
            "details": {
              "type": "string",
              "example": "content is required and must be a non-empty string"
            }
          },
          "required": [
            "success",
            "error"
          ]
        },
        "RateLimitError": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "enum": [
                false
              ],
              "example": false
            },
            "error": {
              "type": "string",
              "enum": [
                "Rate limit exceeded"
              ],
              "example": "Rate limit exceeded"
            },
            "details": {
              "type": "string",
              "example": "Maximum 100 requests per day exceeded."
            },
            "rateLimitError": {
              "type": "object",
              "properties": {
                "limit": {
                  "type": "number",
                  "example": 100
                },
                "remaining": {
                  "type": "number",
                  "example": 0
                },
                "resetAt": {
                  "type": "string",
                  "example": "2026-03-07T00:00:00.000Z"
                },
                "retryAfter": {
                  "type": "number",
                  "example": 3600
                }
              },
              "required": [
                "limit",
                "remaining",
                "resetAt",
                "retryAfter"
              ]
            }
          },
          "required": [
            "success",
            "error",
            "details",
            "rateLimitError"
          ]
        },
        "GenerateDiagramV2Request": {
          "type": "object",
          "properties": {
            "inputType": {
              "type": "string",
              "enum": [
                "text",
                "ascii",
                "json",
                "image"
              ],
              "description": "Type of input being provided. Defaults to `text` when omitted.",
              "example": "text"
            },
            "content": {
              "type": "string",
              "minLength": 1,
              "description": "The main input content. For `text`: a natural-language prompt. For `ascii`: raw ASCII art. For `json`: a JSON string. For `image`: a public URL or base64 data URI (`data:image/...;base64,...`).",
              "example": "Create a microservices architecture with API gateway, auth service, and database"
            },
            "prompt": {
              "type": "string",
              "description": "Optional additional instruction to accompany `ascii`, `json`, or `image` inputs. For `text` inputs this is merged with `content`.",
              "example": "Make the layout left-to-right"
            },
            "diagramType": {
              "type": "string",
              "enum": [
                "flowchart",
                "sequence",
                "erd",
                "system_architecture",
                "network_architecture",
                "uml",
                "mindmap",
                "workflow"
              ],
              "description": "Preferred diagram type.",
              "example": "system_architecture"
            },
            "isIconEnabled": {
              "type": "boolean",
              "description": "Whether to include icons in the generated diagram.",
              "example": false
            },
            "colorTheme": {
              "type": "string",
              "description": "Color theme ID to apply to the diagram.",
              "example": "default"
            },
            "colorMode": {
              "type": "string",
              "enum": [
                "light",
                "dark"
              ],
              "description": "Rendering color mode.",
              "example": "light"
            },
            "format": {
              "type": "string",
              "enum": [
                "svg",
                "png"
              ],
              "description": "Output format. `png` returns a base64-encoded PNG string. `svg` returns the raw SVG markup. Defaults to `png`.",
              "example": "png"
            },
            "useMock": {
              "type": "boolean",
              "description": "When `true`, returns a mock diagram response instead of calling the AI model. Useful for development and testing.",
              "example": false
            }
          },
          "required": [
            "content"
          ],
          "description": "Request body for the v2 diagram generation endpoint."
        },
        "GenerateDiagramV2Response": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "enum": [
                true
              ],
              "example": true
            },
            "svg": {
              "type": "string",
              "description": "Generated SVG diagram string. Present only when `format=svg`.",
              "example": "<svg xmlns='http://www.w3.org/2000/svg'>...</svg>"
            },
            "png": {
              "type": "string",
              "description": "Base64-encoded PNG of the diagram (no data URI prefix). Present only when `format=png` (the default).",
              "example": "iVBORw0KGgoAAAANS..."
            },
            "text": {
              "type": "string",
              "description": "LLM explanation text (D2 code blocks removed).",
              "example": "Here is a simple system architecture diagram..."
            },
            "usage": {
              "type": "object",
              "properties": {
                "promptTokens": {
                  "type": "number",
                  "example": 1200
                },
                "completionTokens": {
                  "type": "number",
                  "example": 450
                },
                "cachedInputTokens": {
                  "type": "number",
                  "example": 0
                },
                "cacheWriteInputTokens": {
                  "type": "number",
                  "example": 0
                },
                "totalTokens": {
                  "type": "number",
                  "example": 1650
                }
              },
              "required": [
                "promptTokens",
                "completionTokens",
                "totalTokens"
              ],
              "description": "Token usage breakdown for this request."
            },
            "modelUsed": {
              "type": "string",
              "description": "Identifier of the AI model that generated the diagram.",
              "example": "claude-3-5-sonnet-20241022"
            }
          },
          "required": [
            "success",
            "text"
          ]
        }
      },
      "parameters": {}
    },
    "paths": {
      "/api/v2/diagrams/generate": {
        "post": {
          "summary": "Generate a diagram",
          "description": "Generates a D2 diagram (SVG + source code) from multiple input types — natural language text, ASCII art, JSON, or an image. Optimised for MCP server usage.",
          "tags": [
            "Diagrams"
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateDiagramV2Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Diagram generated successfully.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GenerateDiagramV2Response"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — invalid or missing input fields.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized — missing or invalid API key. Provide your key via `Authorization: Bearer <api_key>`.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "402": {
              "description": "Payment Required — account has insufficient credits.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "422": {
              "description": "Unprocessable Entity — the AI generated D2 code that failed to compile.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "429": {
              "description": "Too Many Requests — rate limit exceeded.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RateLimitError"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error — unexpected failure.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "webhooks": {}
  }